html {
  font-family: sans-serif;
}

body {
  width: 300px;
  max-width: 750px;
  min-width: 480px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #ff3b3b, #c70039);
}

.lastResult, .guesses {
  color: #f0f0f0;
  padding: 7px;
}

button {
  background: linear-gradient(to right, #ff3b3b, #c70039);
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
}

#subt {
  background: linear-gradient(to right, #ff3b3b, #c70039);
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 50px;
}

#guessField {
  color: #556b2f;
  width: 250px;
  height: 50px;
  font-size: 30px;
  border-style: none;
  margin-top: 25px;
  border: 5px solid #8fbc8f;
  text-align: center;
}

#guess {
  font-size: 55px;
  margin-top: 120px;
  color: #adff2f;
}

.guesses {
  background: linear-gradient(to bottom, #7a7a7a, #4a4a4a);
}

#wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 450px;
  height: 550px;
  background: linear-gradient(to right, #dc143c, #ff3b3b);
  color: #adff2f;
  font-size: 25px;
}

h1 {
  background: linear-gradient(to right, #ff3b3b, #c70039);
  color: #fff;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}
